body {
  background-color: #1f1f1f;
  color: #ffffff;
  margin: 0;
}

li {
  list-style: none;
}

.seccion-botones {
  display: flex;
  flex-direction: row-reverse;
}

.elementos-hijos {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
